<!DOCTYPE html>
<html>
<head>
    <title>Disease Prediction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-4">Disease Prediction</h1>
                <form action="/predict" method="post">
                    <div class="form-group">
                        <label for="symptom_1">Symptom 1:</label>
                        <input type="text" class="form-control" name="symptom_1" required>
                    </div>
                    <div class="form-group">
                        <label for="symptom_2">Symptom 2:</label>
                        <input type="text" class="form-control" name="symptom_2" required>
                    </div>
                    <div class="form-group">
                        <label for="symptom_3">Symptom 3:</label>
                        <input type="text" class="form-control" name="symptom_3" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Predict</button>
                </form>
                {% if prediction %}
                    <p class="mt-3">Predicted Disease: {{ prediction }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
